body {
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  width: 65ex;
  border: 1px solid black;
  padding: 1rem;
}

footer {
  margin-top: 1rem;
  font-size: 0.75rem;
}

.dib {
  display: inline-block;
}
