body {
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  width: 65ex;
  min-height: 80vh;
  border: 1px solid black;
  padding: 1rem;
}

footer {
  margin-top: 1rem;
  font-size: 0.75rem;
}

.dib {
  display: inline-block;
}

.w-100 {
  width: 100%
}

.tc {
  text-align: center;
}

pre.terminal {
  max-width: 65ex;
}

input.prompt {
  padding: 0.5ex; 
  font-size: 1em; 
  font-family: monospace;
  border: 1px solid black;
}

.instructions {
  padding: 0 2rem;
}